<div class="text-center">
    <h1 class="display-4">Soy Camila Contreras </h1>
    <h2>
        soy un intento de programadora, otaku y animalista.
    </h2>
    <img id="foto"
         src="~/img/profesional.jpg" alt="profesional" />

</div>

<div class="text-center">
    <img id="imagen-net" src="~/img/077765ac420f47f4fb1d48f9b80d0fbf.jpg" alt="logo saberes" />

</div>

<div class="row  justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
    <h1>Bienvenido a mi portafolio de servicios de valor agregado</h1>
    <p>
        Soy estudiante de análisis y desarrollo de software, con diplomado en física de la materia,
        experiencia de 0 años desarrollando aplicaciones moviles y con un nivel de inglés B2
    </p>


</div>
</div>
