@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Proyectos desarrollados</h1>
        <p> En este espacio puedes consultar algunos de mis trabajos más relevantes</p>
    </div>


    <div class="container">
        <div class="row row-cols-1 row-cols-nd-3 g-d">
            @foreach (var proyecto in Model.Proyectos)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@proyecto.ImagenUrl " class="card-img-top" alt="Imagen del proyecto" />
                        <div class="card-body">
                            <h5 class="card-title">@proyecto.Titulo</h5>
                            <p class="card-text">@proyecto.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="@proyecto.link target="_blank"
                               rel="noopener noreferrer">Visitar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}